.tab {
  transition-property: width, background-size, margin-left;
  transition-duration: 0.4s;
  transition-timing-function: ease;
}

.tab .caption, .tab .close {
  transition-property: opacity;
  transition-duration: 0.4s;
  transition-delay: 0.2s;
  transition-timing-function: ease;
}

.slow .tab {
  transition-duration: 3s;
}
.slow .tab .caption, .slow .tab .close {
  transition-duration: 3s;
  transition-delay: 1.5s;
}